* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(246, 232, 206);
}
header {
  background-image: url("images/feelings.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: rgb(70, 17, 178);
  color: wheat;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.cartHint {
  background-color: wheat;
  color: rgb(70, 17, 178);
  cursor: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.link {
  background-color: rgb(70, 17, 178);
  color: wheat;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.container,
.container-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
}
.image {
  margin-top: 15px;
  width: 400px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.add-cart {
  position: absolute;
  width: 50%;
  background-color: rgb(70, 17, 178);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  color: wheat;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

/* .here {
  height: 10rem;
  background-image: url("images/door.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
} */
.frame {
  display: flex;
  background-color: rgba(127, 151, 220, 0.1);
  margin: 15px;
}

.feelings {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  color: rgb(70, 17, 178);
  text-shadow: 2px 2px wheat;
}
/*.advice {
  color: rgb(70, 17, 178);
  background-color: wheat;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: none;
}*/
.description {
  display: flex;
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
/* ----------------- CART PAGE --------------- */

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.container-products ion-icon {
  font-size: 50px;
  color: rgb(70, 17, 178);
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 7px solid rgb(70, 17, 178);
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;

  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;

  display: flex;
  align-items: center;
}

.total {
  width: 10%;

  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #4610b1;
}

.product ion-icon {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media (max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .sm-hide {
    display: none;
  }

  .products,
  .product-header {
    justify-content: center;
  }

  .basketTotalContainer {
    padding-right: 8%;
  }
}
/* ----------------- AUCTION PAGE --------------- */

.allImages {
  display: flex;
  height: 150px;
  width: 100%;
}
.auctionHeader {
  background-image: url("images/auktion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.evaluation {
  margin: 25px;
}
.auctionBody {
  background-color: rgb(241, 241, 156);
}

.zero {
  animation: animate 5s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    color: black;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;

    background-color: #4610b1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgb(70, 16, 177, 0.5) 0px 3px 3px;
  }
}
